.cart-totals {
    margin-bottom: 10rem;

    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.8rem;
    }
    span {
        color: var(--Dark-blue-2);
        font-size: 1.6rem;
    }

    &-total {
        font-weight: bold;
        font-size: 2rem;
    }
}
