  :root {
  --Red-color: #ff4000;
  --Dark-blue: #10151f;
  --Dark-blue-2: #3e424a;
  --white: #ffffff;
  --Grey: #f8f6f7;
  --Grey-2: #e1dfe1;
}

html {
  font-size: 62.5% !important;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.main-div-productlisting {
  padding: 1rem 2.5rem;
  max-width: 172rem;
}

.product-listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-listing-title {
  font-size: 4.2rem;
  font-weight: 600;
  color: var(--Dark-blue);
}

.product-listing-controls {
  display: flex;
  flex-direction: row;
  align-items: center;

  >* {
    margin: 10px;
  }

  button {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--Dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  >p {
    position: relative;
    color: var(--Dark-blue-2);
    font-size: 1.2rem;
    font-weight: 400;

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      right: -10px;
      top: 0;
      width: 1px;
      height: 100%;
      background: var(--Grey-2);
    }
  }
}

.filters-indicator > div {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}