.product-filter {
    position: relative;
}

.product-filter-overlay {
    display: none;
}

.product-filter-overlay--open {
    display: inline-block;
    position: absolute;
    background-color: white;
    padding: 10px;
}
